<ion-header>
  <ion-toolbar>
    <ion-title>
      Badges
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-badge color="primary">Primary Badge</ion-badge>
  <ion-badge color="secondary">Secondary Badge</ion-badge>
  <ion-badge color="success">Success Badge</ion-badge>
  <ion-badge color="danger">Danger Badge</ion-badge>
  <ion-badge color="warning">Warning Badge</ion-badge>
  <ion-badge color="light">Light Badge</ion-badge>
  <ion-badge color="medium">Medium Badge</ion-badge>
  <ion-badge color="dark">Dark Badge</ion-badge>
  <ion-badge>
    <ion-icon name="star"></ion-icon>
    Favorite
  </ion-badge>
  <ion-badge>
    <ion-icon name="heart"></ion-icon>
    Like
  </ion-badge>
</ion-content>
