<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic List Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="showToast('Home')">Home</ion-item>
    <ion-item (click)="showToast('Instrumentos Musicais')">Instrumentos Musicais</ion-item>
    <ion-item (click)="showToast('Marcas')">Marcas</ion-item>
    <ion-item (click)="showToast('Modelos')">Modelos</ion-item>
    <ion-item (click)="showToast('Dicas')">Dicas</ion-item>
  </ion-list>
</ion-content>